.App {
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.active {
  color: red;
}

.has-error { 
  border: 1px solid red;
}
/* 
input:invalid {
  outline: 2px solid red;
  outline-style: inset;
}  */

.error-msg {
  clear: both;
  float: left;
  width: 100%;
  background: red;
  color: #fff;
  border-radius: 3px;
  padding: 0 5px;
  display: block;
}

.form-group {
  float: left;
  width: 100%;
}

.btn-signout { 
  float: right;
  color: #007bff;
  cursor: pointer;
  font-size: 26px;
}

label {
  float: left;
  width: 100%;
}

.server-error {
  color: red;
}

.avatar {
  max-width: 150px;
}

.list {
  /* background: red; */
}

.list.table {
  display: table;
  table-layout: fixed;
  text-align: left;
}

.list.table .list-item, .list.table .list-table-head {
  display: table-row;
}

.list.table .list-item .list-item-property,
.list.table .list-table-head > div  {
  display: table-cell;
  box-sizing: content-box;
  padding: 10px 7px;
  border-bottom: 1px solid #e8e8e8;
  word-break: break-all;
}

.active.down { 
  text-decoration: underline;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 8px;
  -webkit-transform: translate(-50%, -50%);
}

.modal-header, .modal-body, .modal-footer {
  float: left;
  width: 100%;
}

.modal-body {
  text-align: center;
  padding: 10px;
}

.modal-footer {
  text-align: center;
  
}

.modal-wrapper button {
  margin: 0 10px;
}

.modal-buttons {
  float: left;
  width: 100%;
  margin: 15px 0 10px;
}

.btn-close {
  float: right;
  cursor: pointer;
}

.checkbox-group {
  float: left;
  width: 100%;
}

.checkbox-group .field-wrapper {
  float: left;
  clear: both;
}

.checkbox-group input, .checkbox-group label {
  float: left;
  width: auto;
}

.checkbox-group input {
  margin-top: 9px;
  margin-right: 5px;
}

.item-product {
  padding: 10px;
}

.item-product .content {
  border: 1px solid #4286f4;
  text-align: center;
}

.item-product .content img {
  display: inline-block;
  max-height: 80px;
  max-width: 80px;
}

.item-product .content strong {
  clear: both;
  width: 100%;
  display: inline-block;
}